
    h2 {
        text-align: center;
        color: #333;
    }

    form {
        max-width: 1000px;
        margin: auto;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .form-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
    }

    label {
        margin-bottom: 5px;
        font-weight: bold;
        color: #333;
    }

    input[type="text"],
    input[type="password"],
    select,
    textarea {
        padding: 10px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        box-sizing: border-box;
    }

    #Description {
        resize: vertical;
        min-height: 100px;
        grid-column: span 2;
    }

    .form-buttons {
        display: flex;
        gap: 15px;
    }

    button {
        background-color: #ffc107;
        color: white;
        padding: 10px 20px;
        border: none;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #e0a800;
    }

    a button {
        background-color: #1d1919;
    }

    a button:hover {
        background-color: #000;
    }

    