    .float-contact {
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 99999;
    }
    .chat-zalo, .chat-facebook, .call-hotline {
    display: block;
    margin-bottom: 6px;
    line-height: 0;
    }